
//
// VARIABLES
//

// Colors
$devBlue: #154281;

// Grays
$darkerGrey: #222;
$darkGrey: #333;
$grey: #666;
$lightGrey: #eee;
$transpWhite: rgba(255, 255, 255, 0.5);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Predefined CSS styles
$darkShadow: box-shadow: 0px 0px 10px #777;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
