.dnd-content {
    color: white;
    padding-left: 25px;
  }
  
  .dnd-bg {
    background-color: black;
  }
  
  .dnd-dropdown {
    border: 5px solid;
    background-color: black;
    font-size: 25px;
  }
  
  .dnd-menu button {
    color: white;
  }
  
  .dnd-card {
    background-color: black;
    color: white;
  }
  
  .padding-container {
    padding-left: 2.5rem;
    padding-right: 5.0rem;
  }