<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ site.name }} - {{ page.title }} {% else %}NTU DevSoc {% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/main.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
      <div id="header">
          <nav id="navbar">
              <div id="nav-logo">
                  <a href="#"></a>
              </div>
              <ul class="nav">
                  <li class="nav-item"><a href="{{site.baseurl}}/">Home</a></li>
                  <li class="nav-item"><a href="{{site.baseurl}}/blog">Blog</a></li>
                  <li class="nav-item"><a href="{{site.baseurl}}/events">Events</a></li>
                  <li class="nav-item"><a href="{{site.baseurl}}/projects">Projects</a></li>
                  <li class="nav-item"><a href="{{site.baseurl}}/alumni">Alumni</a></li>
                  <li class="nav-item"><a href="{{site.baseurl}}/site-map">Site Map</a></li>
                  <li class="nav-item"><a href="{{site.baseurl}}/contact">Contact Us</a></li>
              </ul>
          </nav>

          <h1 id="welcome">
              Welcome to the <abbr title="Nottingham Trent University Developers Society">NTU DevSoc</abbr> website!<br>
          </h1>

          <div id="social-media">
              {% include svg-icons.html %}
          </div>
      </div>

      <div class="container">
          {{ content }}
      </div>
      <div id="footer">
          <span id="copyright">Nottingham Trent University Developer's Society, 2017-Present&copy;</span>
      </div>
  </body>
</html>
